<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Items">
  <ion-nav-buttons side="left"><button class="button button-positive button-clear no-animation"
                  ng-click="">Settings</button></ion-nav-buttons>
  <ion-nav-buttons side="right"><button class="button button-positive button-clear no-animation"
                  ng-click="newItem()">Add</button></ion-nav-buttons>                
  <ion-content class="has-header padding">
       <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide ng-repeat="item in items">
            <h3>{{item.name}}!</h3>
            <div class="fullScreenAvl" style="min-height:100%;color:green;background:url('file:///mnt/sdcard{{item.image}}')">
              <div>Colour : {{getColour(item.colour)}}</div>
              <div>Brand : {{getBrand(item.brand)}}</div>
            </div>
  </ion-content>
</ion-view>
<script id="new-item.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Category</h1>
      <button class="button button-clear button-positive" ng-click="closeNewItem()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <image src="image"></image>
      <form ng-submit="createItem(item)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="item.name">
          </label>
         
            Colour : <select  ng-model="item.colour" ng-options="i.ID as i.name for i in colours">
               <option value="" ></option>
             </select>
          
          <div class="padding">
              Brand : <select  ng-model="item.brand" ng-options="i.ID as i.name for i in brands">
               <option value="" ></option>
             </select>
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Category</button>
        </div>
      </form>

    </ion-content>

  </div>

</script>