/* Empty. Add your own CSS if you like */
<<<<<<< HEAD
.scroll {
	height:100%;
}
.slider {
	height:100%
}.
.pink {
	background-color: pink;
}
=======
.content > .scroll {
  height: 100%;
}
.content > .scroll > .fullScreenAvl {
  height: 100%;
}
.scroll{
   min-height:100%
} 
>>>>>>> 51833662d10d95db978614dc037ca3fa42ebe507
